@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&family=Titillium+Web:wght@200;300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  /* font-family: var(--font-family); */
  box-sizing: border-box;
}

body {
  background-color: var(--light-grey);
}

.wrap {
  display: flex;
  justify-content: center;
}

.container {
  padding: 30px 0;
  width: 70%;
}

:root {
  --background: #ffffff;
  --light-red: rgb(254 242 242);
  --blue: #1e88e5;
  --light-blue: #eff6ff;
  --black-blue: #2563eb;
  --black-grey: rgb(32, 32, 32);
  --grey-icon: #474747;
  --grey: #e8e6e6;
  --light-grey: rgb(249 250 251);
  --font-family: 'Roboto', sans-serif;
  --error-color: #dc2626;
  --light-red: #fef2f2;
  --green: #38a169;
  --light-green: #f2fdf5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
