.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  align-self: start;
}

.wrap {
  min-width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
