.questions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  font-weight: normal;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.question {
  font-weight: normal;
  font-size: 20px;
  cursor: pointer;
}

.answersList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answerItem {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--light-grey);
  padding: 14px;
  border-radius: 8px;
}

.right {
  background-color: rgb(240 253 244);
  color: #38a169;
}
