.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: var(--grey-icon);
  border-radius: 8px;
}

.deletedIcon:hover {
  background-color: var(--light-red);
  color: var(--error-color);
}
